.inner-text{
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;

}


.inner-text__header {
    padding-top: 30px;
    text-align: center;
    margin-bottom: 60px;

    @media (max-width:899px){
        margin-bottom: 40px;
    }
}

.inner-text__row {
    display: flex;
    column-gap: 30px;
    margin-bottom: 40px;
}

.inner-text__img {
    width: 308px;
    flex-shrink: 0;
    height: 350px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        z-index: 3;
        transition: all 0.5s;
        filter: grayscale(0.5);
    }

    &:hover {
        img{
            scale: 1.07;
        }
    }

    @media (max-width:899px) {
        display: none;
    }
}







// INNER SIMPLE TEXT

.inner-text__text {


    p + p {
        margin-top: 10px;
    }

    p + ul, ul + p {
        margin-top: 15px;
    }


    li+li {
        margin-top: 8px;
    }

    li {
        position: relative;
        font-weight: 700;
    }

}

.inner-text__text li::before {
    content: "\2014";
    position: relative;
    margin-right: 7px;
    left: 0;

    
}


