.svg-arrow {
    width: 9px;
    height: 13px;
    fill: $background-color-accent;
}

.svg-arrow-big {
    width: 32px;
    height: 50px;
    fill: $text-color-bright;
}

.svg-arrow-emp {
    width: 32px;
    height: 50px;
    fill: $text-color-bright;
}

.svg-x {
    width: 26px;
    height: 28px;
    fill: $text-color;
}

.svg-facebook {
    width: 10px;
    height: 18px;
    fill: $text-color-bright;

}

.svg-pin {
    width: 18px;
    height: 18px;
    fill: $text-color-bright;}

.svg-vk {
    width: 19px;
    height: 19px;
    fill: $text-color-bright;
}

.svg-phone {
    width: 31px;
    height: 30px;
    stroke: $background-color-accent;
    fill: transparent;
}

.svg-mail {
    width: 36px;
    height: 29px;
    fill: $background-color-accent;
}


.svg-map {
    width: 24px;
    height: 28px;
    fill: $background-color-accent;
}

