

$text-color: #cac8c8;
$background-color-accent-light: #dad8d8af;
$text-color-bright: #ebebeb;
$accent-color: #e08318;
$accent-color-hover: #8b8c8d;
$text-color-bright: #ebebeb;
$background-color-accent: rgba(202, 200, 200, 0.342);
$background-color-accent-dark: rgba(63, 63, 63, 0.439);
$background-color-accent-light: #dad8d8af;
$background-color: #1e2022;
$background-color-light: #dad8d8;
$background-color-blue: rgba(39, 42, 46, 0.97);

// :root {


// 	--background-color: #1e2022;
//     --background-color-dark:#16181a;
	
	
// 	--background-color-accent: rgba(202, 200, 200, 0.342);
// 	--background-color-accent-dark: rgba(63, 63, 63, 0.439);
    
//     --background-color-light: #dad8d8;
//     --background-color-blue: rgba(39, 42, 46, 0.97);

//     --laptop-size: 1199px;
// 	--tablet-size: 959px;
// 	--mobile-size: 599px;
// }

