.swiper-container.about__text {
    position: relative;
    width: 100%;
    height: 48%;
    overflow: hidden;
    
    @media(max-width:961px) {
        height: 49%;
    }
    

    @media (max-width:899px) {
        height: 366px;
    }
    
}



.swiper-slide.about__text-slide {
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 42px;
    padding-bottom: 20px;

    @media(max-width:399px) {
        padding-right: 35px;
    }
}



.about__text-btn {
    position: absolute;
    width: 30px;
    height: 100%;
    top: 0;
    right: 0;
}


.swiper-button-prev.about__text-btn-prev {
    position: absolute;
    display: block;
    right: 0 !important;
    top: 1% !important;
    margin-top: unset;
    left: unset;
    width: 30px;
    height: 30px;
    z-index: 5;

    display: flex;
    align-items: center;
    justify-content: center;

    .svg-arrow-emp {
        transform: rotate(180deg);
        fill: $background-color-accent;
    }
}


.swiper-button-next.about__text-btn-next {
    position: absolute;
    display: block;
    right: 0 !important;
    bottom: 1% !important;
    left: unset;
    top: unset;
    width: 30px;
    height: 30px;
    z-index: 5;
    margin-top: unset;

    display: flex;
    align-items: center;
    justify-content: center;

    .svg-arrow-emp {
        fill: $background-color-accent;
    }


}
