

.border{
    position: relative;
    display: inline-block;
  
  }
  
  .border::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      width: 0.9em;
      height: 0.9em;
      left: -0.5em;
      border-top: 1px solid $background-color-accent;
      border-left: 1px solid $background-color-accent;
    
  }
  
  .border::after{
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      width: 0.9em;
      height: 0.9em;
      right: -0.5em;
      border-bottom: 1px solid $background-color-accent;
      border-right: 1px solid $background-color-accent;
  }


  .line{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #1e2022;
    position: relative;
    z-index: 3;

    @media (max-width:619px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .inner-text__header .border {

    @media (max-width:340px){
      &::before {
        display: none;
      }
  
      &::after {
        display: none
      }
    };
    
  }

  