
.checkbox-row {
    padding-right: 5px;
    display: flex;
    align-items: center;
    font-size: 18px;

    /* XS Mobile */
    @media (max-width: 599px) {
        font-size: 16px;
        line-height: 21px;
    }
}

.checkbox-row + .checkbox-row {
    margin-top: 17px;

    /* XS Mobile */
    @media (max-width: 599px) {
        margin-top: 20px;
    }
}

.real-chekbox {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    appearance: none;
    z-index: -1;
}

.custom-checkbox {
    position: relative;
    margin-right: 15px;
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    vertical-align: bottom;

    background-color:$background-color-accent ;
    border: 1px solid $background-color-accent;
}

.custom-checkbox::before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    display: block;
    content: '';
    transition: transform 0.2s ease-in;

    width: 17px;
    height: 17px;
    background-image: url('./../img/icons/check.svg');
}

.real-chekbox:focus + .custom-checkbox {
    box-shadow: 0 0 5px $background-color-accent-light, 0 0 0px 1px rgba(49, 64, 91, 0.534);
}


.real-chekbox:checked + .custom-checkbox::before {
    transform: translate(-50%,-50%) scale(1);
}