.h1 {
    position: relative;
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    font-size: 190px;
    line-height: 1.3;
    display: inline-block;
    -webkit-text-stroke: .01em $text-color-bright;
    color: transparent;

    // background: linear-gradient(21deg, rgb(160, 160, 160) -3.87%, rgba(255, 255, 255, 0) 36.89%), #FFFFFF;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    text-fill-color: transparent;

    @media (max-width:1669px){
        font-size: 185px;
        // line-height: 1.22;
    }

    @media (max-width:1299px) {
        font-size: 150px;
    }

    @media (max-width:1139px) {
        font-size: 130px;
        // line-height: 1.22;
    }

    @media (max-width:899px) {
        font-size: 100px;
    }

    @media (max-width:599px) {
        font-size: 80px;
    }

    @media (max-width:449px) {
        font-size: 60px;
    }
}

.h1.h1--inner {
    font-size: 100px;
    text-shadow: -1px 0 1px rgba(60, 60, 60, 0.035), 0 1px 1px rgba(59, 58, 58, 0.031), 5px 5px 10px rgba(0, 0, 0, 0.033), -5px -5px 10px rgba(0, 0, 0, 0.038);

    @media (max-width:1699px) {
        font-size: 80px;
    }

    @media(max-width:1299px){
        font-size: 60px;
    }

    @media(max-width:899px){
        font-size: 53px;
    }

    @media(max-width:599px){
        font-size: 9vw;
    }

    @media(max-width:399px){
        font-size: 9.5vw;
    }

}
