.team-card {
    position: relative;
    height: 400px;
    background-color: #1e202283;
    border: 1px solid $background-color-accent;
    padding-top: 70px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: $text-color;
    --x-px: calc(var(--x) * 1px);
    --y-px: calc(var(--y) * 1px);

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-right: 5px solid #000;
        border-bottom: 5px solid #000;
        filter: blur(6px);
        bottom: -10px;
        right: -10px;
        z-index: 0;
        opacity: 1;
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        inset: 0px;
        border-radius: inherit;
        background: radial-gradient(
        800px circle at var(--x-px) var(--y-px),
        rgba(255, 255, 255, 0.3),
        transparent 40%
        );
    }

    &::after {
        opacity: 0;
        z-index: 5;
        transition: opacity 0.4s ease;
    }
    
    &:hover::after {
        opacity: 1;
    }

    @media (max-width:1249px){
        padding-top: 15%;
        height: 370px;
        padding-bottom: 10%;
    }

    @media (max-width:899px){
        height: 300px;
        padding-top: 5%;
        padding-bottom: 5%;
        align-items: start;
        padding-left: 70px;
    }

    @media (max-width:599px) {
        align-items: center;
        padding-left: 15px;
        padding-top: 15%;
        height: 370px;
    }

    @media (max-width:439px) {
        height: 320px;
        padding-top: 18%;
    }

    
}

.team-card__img {
    position: absolute;
    top:-10%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 174px;
    height: 174px;
    overflow: hidden;
    border-radius: 50%;
    z-index: 7;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: grayscale(0.5);
    }

    @media (max-width:1249px) {
        width: 47%;
        height: auto;
    }

    @media (max-width:899px){
        top: 50%;
        left: -10%;
        width: 155px;
        height: 155px;
    }

    @media (max-width:599px){
        top:-10%;
        left: 50%;
        width: 40%;
        height: auto;
    }

    @media (max-width:439px) {
        width: 47%;
        height: auto;
    }
}

.team-card__job {
    margin-top: 5px;
}
.team-card__content {
    font-size: 18px;
    width: 70%;
    @media (max-width:1249px){
        width: 90%;
    }

    @media (max-width:599px) {
        width: 70%;
    }

    @media (max-width:439px){
        width: 90%;
    }

}

.team-card__experience {
    font-size: 15px;
}


